* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 20px 0;
    background: rgb(1,150,136);
    background: linear-gradient(180deg, rgba(1,150,136,1) 128px, rgba(218,219,212,1) 128px);
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0.5px;
}

.container {
    width: 100%;
    height: calc(100vh - 40px);
    display: flex;
    align-items: center;
}

.schermata {
    width: 1369px;
    min-width: 900px;
    height: 100%;
    margin: auto;
    box-shadow: 0px 3px 8px 0px rgb(0, 0, 0, 0.4);
}

.lato_sinistro {
    width: 30%;
    height: 100%;
    float: left;
    border-right: 1px solid gainsboro;
}

.lato_destro {
    width: 70%;
    height: 100%;
    float: left;
}

.header, .header_right {
    height: 59px;
    width: 100%;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left {
    border-bottom: 1px solid gainsboro;
}

.avatar_proprietario {
    float: left;
    margin-left: 10px;
    cursor: pointer;
}
.fas {
    color: #919191;
    margin-right: 25px;
    font-size: 20px;
    cursor: pointer;
}

.input {
    height: 49px;
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    position: relative;
}

body > div > div > div.lato_sinistro > div.header_left > div.input > i {
    position: absolute;
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
    color: rgb(0, 0, 0, 0.5);
    font-size: 13px;
}

input, input:focus {
    width: 100%;
    border-radius: 20px;
    height: 30px;
    background-color: white;
    border-style: none;
    outline: none;
    padding-left: 30px;

}

::placeholder {
  color: rgb(0, 0, 0, 0.5);
}


.amici_wrap {
    height: calc(100% - 108px);
    overflow: auto;
}

.amici {
    height: 72px;
    width: 100%;
    background-color: white;
}

.click {
    background-color: gainsboro;
}

.amici:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}


.avatar {
    height: 100%;
    width: 72px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}


.dati_contatto {
    height: 100%;
    width: calc(100% - 72px);
    float: left;
    border-bottom: 1px solid #ededed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.riga1, .riga2 {
    display: flex;
    justify-content: space-between;
}

.orario {
    margin-right: 10px;
}

.nome, .nome_chat {
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
}

.didascalia, .orario {
    font-size: small;
    color: rgb(0, 0, 0, 0.7);
}

.fa-chevron-down {
    font-size: small;
    color: rgb(0, 0, 0, 0.7);
    margin-right: 10px;
    display: none;
}

.avatar_attivo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.avatar_attivo img, .nome_chat {
    margin-left: 10px;
    cursor: pointer;
}

.chat {
    height: calc(100% - 121px);
    width: 100%;
    background-image: url("mine.jpg");
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.container_chat {
    width: 80%;
    padding-bottom: 20px;
    overflow: auto;
}

.riga_messaggio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin-top: 3px;
}

.risposta {
    display: none;
}

.out {
    align-items: flex-end;
}

.in {
    align-items: flex-start;
}

.fumetto_verde {
    background-color: #dcf8c6;
    margin-right: 20px;
}


.fumetto_bianco {
    background-color: white;
    margin-left: 20px;

}

.fumetto_verde, .fumetto_bianco {
	position: relative;
    max-width: 70%;
	border-radius: .4em;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 1px 2px 0px rgb(0, 0, 0, 0.2);
    min-width: 100px;
}


.spazio_in_out {
    margin-bottom: 12px;
}

.fumetto_bianco:after {
	content: '';
	position: absolute;
    left: 3px;
    top: 10px;
	width: 0;
	border: 20px solid transparent;
	border-right-color: white;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.fumetto_verde.primo:after {
    content: '';
	position: absolute;
    right: 3px;
    top: 10px;
	width: 0;
	border: 20px solid transparent;
	border-left-color: #dcf8c6;
	border-right: 0;
	border-top: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.fumetto_verde p:first-child, .fumetto_bianco p:first-child {
    margin-right: 20px;
}

.fumetto_verde p.orario, .fumetto_bianco p.orario {
    margin-right: 0;
    font-size: 10px;
}

.footer_right {
    width: 100%;
    height: 62px;
}

.icona {
    height: 62px;
    width: 10%;
    background-color: #ededed;
    float: left;
    position: relative;
}

.input_footer {
    height: 62px;
    width: 80%;
    background-color: #ededed;
    float: left;
}

.input_footer input {
    height: 40px;
}

.fa-grin, .fa-microphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #919191;
    cursor: pointer;
}

.template {
    display: none;
}
